body {


    font-family: Arial, Helvetica, sans-serif;
    background-color: #f19f23;
    margin: 0;
    padding: 80px;

    font-size: 170%;
}

.resume-container{
display: flex;
background-color:white;
width: 80%;
margin: 0 auto;
border-radius: 10px;
box-shadow: 0 0 20px color( blue)


}
.left-section{

    background-color: blue;
    color: blanchedalmond;
    padding: 50px;
    width: 70%;
    height: 80%;
    text-align: center;
    border-right:5px  
    
    
    
}
 


h1 {

    font: size 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}
h3{

    font-size: 30px;
    padding: 2%;
    margin: 20px 0px;
    color: black;
    border-radius: 50px;
    box-shadow: 0 0 15px crimson;
    margin-top: 5%;
    margin-bottom: 5%;
    
}


ul{
    list-style: circle;
    padding: 10;
    margin: 10px;
}
ui li{
    margin: 5px 0;
}
.right-section{
    padding: 20px;
    width: 65%;
}
button{
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px color black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;

}
button:hover{
    background-color: brown;
}
